@tailwind base;
@tailwind components;
@tailwind utilities;

/* NAVBAR --------- */
.navbar-fixed {
  @apply fixed z-[9999] bg-white;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}


/* SIDEBAR */
.sidebar {
  /* width: 220px; */
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  /* left: -220px; */
  transition: left 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar.open {
  left: 0;
}


ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
}

a {
  text-decoration: none;
  color: #fff;
}



.hamburger-btn {
  margin: 0px 0px 0px 160px;
}

.bar {
  display: block;
  width: 25px;
  height: 1.5px;
  background-color: black;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.bg-testimonials-background {
  background-image: url('/media-review/background.jpg');
  background-size: cover; /* Menyesuaikan tinggi dan lebar untuk menutupi seluruh elemen */
  background-position: center; /* Posisi latar belakang di tengah */
  height: auto; 
  width: 100%; 
}

.history-background {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.history-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/aboutus/history.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(4px); /* Adjust the pixel value based on your desired blur amount */
  z-index: -1;
}

.culture-background {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.culture-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/aboutus/culture.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(7px); /* Adjust the pixel value based on your desired blur amount */
  z-index: -1;
}


